<div class="card align-items-center">
  <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>

<!-- categories list -->
<h3 class="col-12 text-center">Tabla de Categorias</h3>
<div class="row">
  <table class="table table-bordered table-hover table-striped ">
    <thead class="thead-default">
      <tr>
        <th class="text-center">Update</th>
        <th class="text-center">Nombre
          <button 
            [hidden]="sortingIndex !== 'up1'" 
            type="button" 
            class="btn btn-default" 
            (click)="sortingIndex='down1';changeSortOrder(1, 'name')">
            <span class="fa fa-chevron-up" aria-hidden="true"></span>
          </button>
          <button 
              [hidden]="sortingIndex !== 'down1'" 
              type="button" 
              class="btn btn-default" 
              (click)="sortingIndex='up1';changeSortOrder(1, 'name')">
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="sortingIndex === 'down1' || sortingIndex === 'up1' " 
            type="button" 
            class="btn btn-default" 
            (click)="sortingIndex='up1';changeSortOrder(-1, 'name')">
            <span class="fa fa-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th class="text-center">Seccion
          <button 
            [hidden]="sortingIndex !== 'up2'" 
            type="button" 
            class="btn btn-default" 
            (click)="sortingIndex='down2';changeSortOrder(1, 'sectionId')">
            <span class="fa fa-chevron-up" aria-hidden="true"></span>
          </button>
          <button 
              [hidden]="sortingIndex !== 'down2'" 
              type="button" 
              class="btn btn-default" 
              (click)="sortingIndex='up2';changeSortOrder(-1, 'sectionId')">
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="sortingIndex === 'down2' || sortingIndex === 'up2' " 
            type="button" 
            class="btn btn-default" 
            (click)="sortingIndex='up2';changeSortOrder(-1, 'sectionId')">
            <span class="fa fa-sort" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
     <!--  <tr>
        <td></td>
        <td class="text-center">
          <input 
            type="text" 
            class="col-3" 
            placeholder="Nombre"
            #nameFilter
            (blur)="search('name', nameFilter.value)">
        </td>
        <td class="text-center">
          <input 
            type="text" 
            name="seccion" 
            class="col-3" 
            placeholder="Seccion"
            #sectionFilter
            (blur)="search('sectionId', sectionFilter.value)">
        </td>
      </tr> -->
      <tr *ngFor="let category of categories | async; let rowIndex=index; ">
        <!-- action buttons for main form -->
        <td>
          <button 
            [hidden]="currentIndex === rowIndex && editing"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=true;editedCategory=copy(category)">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false; update(editedCategory)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false;">
            <span class="fa fa-ban" aria-hidden="true"></span>
          </button>
        </td>
        <!-- name field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{category.name}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="name-{{rowIndex}}" 
            class="form-control" 
            [(ngModel)]="editedCategory.name">
        </td>
        
        <!-- sections field-->
        <ng-container *ngFor="let section of sections | async"> 
          <ng-container *ngIf="category.sectionId === section._id">
            <!-- display mode fields -->
            <td 
              [hidden]="currentIndex === rowIndex && editing"
              class="text-center">
              <a [routerLink]="['/sections', section._id]">{{section.name}}</a>
            </td>
            <!-- editing mode fields -->
            <td 
                [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)">
              <select 
                name="select-{{rowIndex}}" class="form-control" required  
                [(ngModel)]="editedCategory.sectionId">
                <option value="" disabled currentIndex hidden>Nombre de Seccion</option>
                <option *ngFor="let section of sections | async" 
                [ngValue]="section._id">{{section.name}}</option>
              </select> 
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">

  <!-- submission form -->
  <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
    <table class="table table-hover">
      <tbody>
        <tr ng-form="myForm">
          <!-- action buttons for submision form -->
          <td>
            <button 
              [hidden]="adding" 
              type="button" 
              class="btn btn-default" 
              (click)="adding=true">
              <span class="fa fa-plus-square-o" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="!adding" 
              type="button" 
              class="btn btn-default" 
              (click)="adding=false;complexForm.reset()">
              <span class="fa fa-minus-square-o" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="!adding" 
              [disabled]="!complexForm.valid" 
              type="button" 
              class="btn btn-default" 
              (click)="adding=false; saveCategory(complexForm.value)">
              <span class="fa fa-check-square-o" aria-hidden="true"></span>
            </button>
          </td> 
          <!-- adding mode fields -->
          <td class="text-center" 
              [ngClass]="{'has-error':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}">
              <input 
                [hidden]="!adding" 
                type="text" 
                name="name" 
                class="form-control" 
                placeholder="Nombre de Categoria" [formControl]="complexForm.controls['name']">
                <!-- The hasError method will tell us if an error exists -->
                <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" 
                class="alert alert-danger">
                  Incluya un nombre de categoria.
                </div>
                <div *ngIf="complexForm.controls['name'].hasError('minlength') && complexForm.controls['name'].touched" 
                class="alert alert-danger">
                  La categoria debe tener al menos 5 catacteres.
                </div>
          </td>
          <td class="text-center">
            <select 
              [hidden]="!adding" 
              name="sectionOptions" 
              class="form-control" 
               [formControl]="complexForm.controls['section']">
                <option value="" disabled currentIndex hidden>
                  Nombre de Seccion
                </option>
                <option *ngFor="let section of sections | async" [ngValue]="section">
                  {{section.name}}
                </option>
            </select> 
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="card align-items-center">
  <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>

