<div>
  
  <!-- sumario de venta -->
  <div class="row">
    <h3 class="col-12 text-center">Detalle de Venta</h3>
    <div  class="form-inline">

      <div class="ml-4 mt-4">
        <a>Nº de Venta: {{sale?.saleNumber}}</a>
      </div>

      <div class="ml-4 mt-4">
        <a>Vendedor: {{getUserName()}}</a>
      </div>

      <div class="ml-4 mt-4">
        <a>Estado: {{getSaleStatus(sale?.status)}}</a>
      </div>

      <ng-container *ngIf="sale?.discount">
        <div class="ml-4 mt-4">
          <a>Descontado:$ {{sale?.discount}}</a>
        </div>
      </ng-container>

     <!--  <ng-container *ngIf="sale?.taxes">
        <div class="ml-4 mt-4">
          <a>Impuestos:$ {{sale?.taxes}}</a>
        </div>
      </ng-container>

      <ng-container *ngIf="sale?.subtotal">
        <div class="ml-4 mt-4">
          <a>Subtotal:$ {{sale?.subtotal}}</a>
        </div>
      </ng-container> -->

      <div class="ml-4 mt-4">
        <label class="form-check-label">
        Forma de pago
        <select 
          name="paymentForm" 
          class="form-control"
          [disabled] = "sale?.status == 'submitted'"
          [(ngModel)]="paymentForm"
          (blur)="doLog();"
          >
          <option value="1">Contado</option>
          <option value="2">Tarjeta</option>
          <option value="3">Cuenta</option>
        </select> 
          </label>
      </div>

      
        <div class="ml-4 mt-4">
          <a>Total:$ {{getTotal()}}</a>
        </div>
     

    </div>
  </div>

  <!--  busqueda x codigo -->
  <div class="row">
    <div  class="form-inline">
     
     <div class="ml-4 mt-4">
        <input 
          [disabled] = "sale?.status == 'submitted'"
          type="text" 
          name="productAmount" 
          class="form-control" 
          [(ngModel)]="productAmount"
          placeholder="Cantidad">
      </div>

      <div class=" mt-4">
        <input
          [disabled] = "sale?.status == 'submitted'"
          type="text" 
          name="barCodeLookup" 
          class="form-control" 
          [(ngModel)]="selectedCode"
          (blur)="search('barCode', selectedCode);"
          placeholder="Buscar por Codigo">
      </div>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered table-hover ">
      <!-- headers -->
      <thead class="thead-default">
        <tr>
          <th  class="text-center" *ngFor="let header of headers; let colIndex = index; ">
            <ng-container *ngIf=" header.key === 'UP' ">
              <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </ng-container>
            <ng-container *ngIf=" header.key === 'DOWN' ">
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </ng-container>
            <ng-container *ngIf=" header.key !== 'UP' && header.key !== 'DOWN'">
            {{header.key}}
          </th>
          <th class="text-center">#</th>
        </tr>
      </thead>
      
      <tbody>
        <!-- table content -->

        <!-- 'Codigo', 'Descripcion', 'Color', 'Talle', 'Marca', 'Modelo', 'Precio', 'UP',  'Cantidad', 'DOWN',  'SubTotal', '#' -->
        <ng-container *ngFor="let productSale of productSales | async;">
          <tr *ngFor="let productSize of productSizes | async; let rowIndex=index; ">
            <ng-container *ngIf=" productSale.productSizeId == productSize._id">
              <ng-container *ngFor="let product of products | async;"> 
                <ng-container *ngIf=" product._id == productSize.productId ">
                  <ng-container *ngFor="let stock of stocks | async;">
                    <ng-container *ngIf=" stock.storeId == userStore.storeId && productSize.productId == stock.productSizeId">
                      <td class="text-center">
                        <a [routerLink]="['/products', product.code]">{{productSize.barCode}}</a>
                      </td>
                      <td class="text-center">
                        <a>{{product.name}}</a>
                      </td>

                      <td class="text-center">
                        <a>{{product.color}}</a>
                      </td>

                      <td class="text-center">
                        <a>{{productSize.size}}</a>
                      </td>

                      <td class="text-center">
                        <a>{{product.brand}}</a>
                      </td>

                      <td class="text-center">
                        <a>{{product.model}}</a>
                      </td>

                      <td class="text-center">
                        <a>{{getPrice(stock)}}</a>
                      </td>
                      
                      <td class="text-center">
                        <button type="button" class="btn btn-default" (click)=decreaseAmount(rowIndex)>
                          <span class="fa fa-chevron-down" aria-hidden="true"></span>
                        </button>
                      </td>
                      
                      <td class="text-center">
                         <a>{{getProductAmount(rowIndex)}}</a>
                      </td>
                      
                      <td class="text-center">
                        <button type="button" class="btn btn-default" (click)=increaseAmount(rowIndex,stock)>
                          <span class="fa fa-chevron-up" aria-hidden="true">
                          </span>
                        </button>
                      </td>

                      <td class="text-center">
                          <a>{{calculateSubTotal(rowIndex,stock)}}</a>
                      </td>

                      <td class="text-center">
                        <button type="button" class="btn btn-default" (click)=remove(product)>
                          <span class="fa fa-times" aria-hidden="true"></span>
                        </button>
                      </td>

                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- action buttons panel -->
  <div class="card-footer">
    <div class="row">
      <div class="col-2">
        <h4>Total: $ {{getTotal()}}</h4>
      </div>        
      <div class="col span2">
        <a class="btn btn-block btn-info" routerLink="/sales" routerLinkActive="active">Cancelar Orden</a>
      </div>
      <div class="col span2">
        <button type="button" class="btn btn-block btn-info" (click)="submitSale()">Confirmar Venta</button>
      </div> 
      <div class="col span2">
        <button type="button" class="btn btn-block btn-info" (click)="reserveSale()">Reservar Pedido</button>
      </div>    
    </div>
  </div>
</div>
</div>

