<h3 class="col-12 text-center">Ventas</h3>
<div class="row">
  <div class="form-inline">

    <div class="ml-4 mt-4">
      <a>En sucursal: {{getCurrentStoreName()}}</a>
    </div>

    <div class="ml-4 mt-4">
      <button 
        type="button" 
        class="form-control btn btn-primary ml-2" 
        (click)="createOrder()"
        >
          Nueva Venta
        </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <pagination-controls 
      (pageChange)="onPageChanged($event)"
      [hidden]="collectionCount < PAGESIZE" 
      >
    </pagination-controls>
  </div>
</div>

<div class="row">
  <!-- sales content -->
  <table class="table table-bordered table-hover">
    <thead class="thead-default">
      <tr>
        <!-- headers for sorting -->
        <!-- <th class="text-center">#</th> -->
        <th class="text-center" 
          style="vertical-align:middle;" 
          *ngFor="let header of headers; let colIndex = index; ">
          <div class="form-horizontal" >
            {{header.key}}
            <button 
              [hidden]="idx !== colIndex || direction !== 'up'" 
              type="button" 
              class="btn btn-default" 
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
              <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </button>
            <button 
                [hidden]="idx !== colIndex || direction !== 'down'" 
                type="button" 
                class="btn btn-default"  
                (click)="idx = colIndex; direction = 'up';changeSortOrder(1, header.value)">
                <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="direction && idx === colIndex " 
              type="button" 
              class="btn btn-default"   
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
              <span class="fa fa-sort" aria-hidden="true"></span>
            </button>
          </div>
        </th> 
    </thead>
    <tbody>

      <!-- filter fields on table header -->
      <tr>
        <!-- <td></td> -->
        <ng-container *ngFor="let header of headers; let colIndex=index; ">
          <td class="text-center">
            <ng-container *ngIf="header.showHeaderFilter ">
              <input 
                type="text" 
                class="col-12" 
                name=filter-{{header.key}}
                placeholder={{header.key}}
                #tmp
                (blur)="search(header.value, tmp.value)"
                (keyup.enter)="search(header.value, tmp.value);"
                >
            </ng-container>
          </td>
        </ng-container> 
      </tr> 

      <!-- 'saleNumber', 'payment', 'discount', 'saleState', 'createdAt', 'lastUpdate', 'seller', 'total'  -->
      <tr *ngFor="let sale of sales | async; let rowIndex=index; ">

        <!-- action buttons for to edit sale state -->
        <!-- <td>
          <button 
            [hidden]="currentIndex === rowIndex && editing"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=true;editedPurchase = copy(purchase)">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false; update(editedPurchase, purchase)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false; ">
            <span class="fa fa-ban" aria-hidden="true"></span>
          </button>
        </td> -->
        <!-- saleNumber -->
        <td class="text-center">
          <a [routerLink]="['/sales', 
              sale.saleNumber]"
              >
              {{ sale.saleNumber | leadingZeros:7 }}
          </a>
        </td>

        <!-- saleState -->
        <!-- display mode -->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{sale.saleState | mapvalues:salesStatusValues}}</a>
        </td>
        <!-- editing mode -->
        <td 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)">
         <!--  <select 
            name="selectstate-{{rowIndex}}" 
            class="form-control" 
            required  
            [ngModel]="sale.saleState"
            (ngModelChange)="editedSale.saleState = $event"
            >
            <option *ngFor="let touple of salesStatusValues | mapToIterable"
            [ngValue]="touple.key">{{touple.val}}</option>
          </select>  -->
        </td>

        <!-- payment -->
        <td class="text-center">
          <a>{{sale.payment | mapvalues:salePaymentValues}}</a>
        </td>

        <!-- createdAt -->
        <td class="text-center">
          <a>{{sale.createdAt | amDateFormat:'DD/MM/YYYY hh:mmA'}}</a>
        </td>

        <!-- lastUpdate -->
        <td class="text-center">
          <a>{{sale.lastUpdate | amDateFormat:'DD/MM/YYYY hh:mmA'}}</a>
        </td>

        <!-- seller -->
        <td class="text-center">
          <a>{{getUser(sale.userStoreId)?.username}}</a>
        </td>

        <!-- discount -->
        <td class="text-center">
          <a>{{sale.discount}}</a>
        </td>

        <!-- total -->
        <td class="text-center">
          <a>{{ sale?.total | currency:'USD':true:'1.2-2' }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-12 text-center">
    <pagination-controls 
      (pageChange)="onPageChanged($event)"
      [hidden]="collectionCount < PAGESIZE" 
      >
    </pagination-controls>
  </div>
</div>
