<div>
  <h2 class="text-center">Ventas</h2>

  <div class="form-inline">
    <button type="button" class="form-control btn btn-primary ml-2" (click)="addSale()"  [disabled]="saleCreated">
    Nueva orden de venta
    </button>
    <button type="button" class="form-control btn btn-primary ml-2" (click)="deleteSale()"  [hidden]="!saleCreated">
    Cancelar orden
    </button>
  </div>

  <div [hidden]="!saleCreated">
    <sale-details></sale-details>
  </div>

  <div><hr></div>

  <div class="row" [hidden]="saleCreated">
    <h3 class="col-12 text-center">Ordenes de Venta</h3>
    <!-- table-responsive table-striped table-bordered table-hover -->
    <table class="table table-bordered table-hover ">
      <thead class="thead-default">
        <tr>
          <th>Nº Venta</th>
          <th>Total</th>
          <th>Descuento</th>
          <th>Estado</th>
          <th>Vendedor</th>
          <th>Ultimo Cambio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
        <td><a [routerLink]="['sales/', sale.orderNumber]">{{sale.orderNumber}}</a></td>
          <td>{{sale.total}}</td>
          <td>{{sale.discount}}</td>
          <td>{{sale.status}}</td>
          <td>{{sale.sellerName}}</td>
          <td>{{sale.lastUpdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>