<div class="card align-items-center">
  <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>

<!-- categories list -->
<h3 class="col-12 text-center">Tabla de Usuarios</h3>
<div class="row">
  <table class="table table-bordered table-hover table-striped ">
    <thead class="thead-default">

       <!-- headers for sorting -->
      <tr>
        <th class="text-center">Modificar</th>
        <th  class="text-center" *ngFor="let header of headers; let colIndex = index; ">
          {{header.key}}
          <button 
            [hidden]="idx !== colIndex || direction !== 'up'" 
            type="button" 
            class="btn btn-default" 
            (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
            <span class="fa fa-chevron-up" aria-hidden="true"></span>
          </button>
          <button 
              [hidden]="idx !== colIndex || direction !== 'down'" 
              type="button" 
              class="btn btn-default"  
              (click)="idx = colIndex; direction = 'up';changeSortOrder(1, header.value)">
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="direction && idx === colIndex " 
            type="button" 
            class="btn btn-default"   
            (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
            <span class="fa fa-sort" aria-hidden="true"></span>
          </button>        
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <ng-container *ngFor="let header of headers; let colIndex = index; ">
          <td class="text-center">
            <input 
              type="text" 
              class="col-3" 
              name=filter-{{header.key}}
              placeholder={{header.key}}
              #tmp
              (keyup.enter)="search(header.value, tmp.value)"
              (blur)="search(header.value, tmp.value)">
          </td>
        </ng-container> 
      </tr>
 
      <tr *ngFor="let user of users | async; let rowIndex=index; ">
        <!-- action buttons for main form -->
        <td>

          <button 
            [hidden]="currentIndex === rowIndex && editing"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=true;editedUser=copy(user)">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false; updateUser(editedUser)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false;">
            <span class="fa fa-ban" aria-hidden="true"></span>
          </button>
        </td>

        <!-- username field-->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{user.username}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="name-{{rowIndex}}" 
            class="form-control" 
            [(ngModel)]="editedUser.username">
        </td>

        <!-- email field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
            <a>{{user.emails[0].address}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="name-{{rowIndex}}" 
            class="form-control" 
            [(ngModel)]="editedUser.email">
        </td> 

        <!-- role field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
            <a>{{user['roles']['default-group'][0]}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="name-{{rowIndex}}" 
            class="form-control" 
            [(ngModel)]="editedUser.email">
        </td> 

        <!-- stores fields -->
        <!-- display mode fields -->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
              <multi-dropdown 
              class="form-control" 
              name="stores"
                [options]="storesData"
                [texts]="commonTexts" 
                [settings]="singleSettings" 
                [(ngModel)]="storesSelected">
              </multi-dropdown>
          <!-- <ng-container *ngFor="let store of stores | async; "> 
            <ng-container *ngFor="let userStore of userStores | async"> 
              <ng-container *ngIf="userStore.storeId === store._id && userStore.userId === user._id">
                  |{{store.name}}|
              </ng-container>
            </ng-container>
          </ng-container> -->
        </td>
       
        <!-- editing mode fields -->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing) ">
            <select multiple 
              name="select-{{rowIndex}}" class="form-control" required  
              [(ngModel)]="editedUser.storeIds">
              <option value=undefined disabled currentIndex hidden>Sucursal</option>
              <option *ngFor="let store of allStores | async" 
              (ngModel)="editedUser.storeIds"
              [ngValue]="store">
              {{store.name}}</option>
            </select> 
         </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="card align-items-center">
  <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>

