<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
          <img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
      <h1>Ingreso al sistema</h1>
       <form [formGroup]="loginForm" (ngSubmit)="login()">
         <fieldset class="form-group">

            <div class="form-content">
              
              <div class="form-group">
                <input class="form-control" 
                  type="text" 
                  formControlName="username"
                  [(ngModel)]="username"
                  (keyup.enter)="userSearch()"
                  (blur)="userSearch()" 
                  placeholder="Nombre de usuario" 
                >
              </div>

              <div class="form-group">
                <input class="form-control" 
                  type="text" 
                  formControlName="email"
                  [(ngModel)]="email"
                  (keyup.enter)="userSearch()"
                  (blur)="userSearch()" 
                  placeholder="Email" 
                >
              </div>

              <div class="form-group">
                <input class="form-control"
                  type="password" 
                  formControlName="password" 
                  placeholder="Password"
                >
              </div>

              <div class="form-group">
                <select 
                  name="store" 
                  class="form-control" 
                  formControlName="storeId" 
                  required 
                  [(ngModel)]="storeId"
                  >
                  <option value=-1 currentIndex>Como administrador</option>
                  <option 
                    *ngFor="let store of stores | async" [ngValue]="store._id">
                    {{store.name}}
                  </option>
                </select> 
              </div>
              
            </div>
            
            <button type="submit" class="btn btn-primary">Ingresar</button>    
        </fieldset>
      </form>
    </div>  
  </div>
</div>

