<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
          <img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
      <h1>Ingreso al sistema</h1>
       <form [formGroup]="loginForm" (ngSubmit)="login()">
         <fieldset class="form-group">

            <div class="form-content">
              
              <div class="form-group">
                <input id="email" class="form-control input-underline input-lg" type="text" formControlName="email" [(ngModel)]="email" placeholder="Email">
              </div>

              <div class="form-group">
                <input id="password" class="form-control input-underline input-lg" type="password" formControlName="password" placeholder="Password">
              </div>

              <div class="form-group">
                <select 
                  name="store" 
                  class="form-control" 
                  formControlName="store" 
                  required 
                  [(ngModel)]="selectedStore"
                  >
                  <option 
                    *ngFor="let store of stores | async; let idx = index" 
                    [ngValue]="store">
                    {{store.name}}
                  </option>
                </select> 
              </div>
              
            </div>
            
            <button type="submit" class="btn btn-primary">Ingresar</button>
            &nbsp;
            <a type="submit" class="btn rounded-btn" routerLink="/signup">Registrarse</a>
            
        </fieldset>
      </form>
    </div>  
  </div>
</div>

