<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <table class="table table-hover">
    <tbody>
      <tr ng-form="myForm">
        <!-- action buttons for submision form -->
        <td>
          <button 
            [hidden]="adding" 
            type="button" 
            class="btn btn-default" 
            (click)="adding=true">
            <span class="fa fa-plus-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="!adding" 
            type="button" 
            class="btn btn-default" 
            (click)="adding=false;complexForm.reset()">
            <span class="fa fa-minus-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="!adding" 
            [disabled]="!complexForm.valid" 
            type="button" 
            class="btn btn-default" 
            (click)="adding=false; save(complexForm)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </button>
        </td> 

        <!-- form fields name -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="name" 
              class="form-control" 
              placeholder="Descripcion" [formControl]="complexForm.controls['name']">
              <!-- The hasError method will tell us if an error exists -->
              <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" 
              class="alert alert-danger">
                Falta un nombre de producto.
              </div>
              <div *ngIf="complexForm.controls['name'].hasError('minlength') && complexForm.controls['name'].touched" 
              class="alert alert-danger">
                La categoria debe ser al menos 3 caracteres.
              </div>
        </td>

        <!-- form fields code -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['code'].valid && complexForm.controls['code'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="code" 
              class="form-control" 
              placeholder="Codigo" [formControl]="complexForm.controls['code']">
              <!-- The hasError method will tell us if an error exists -->
              <div *ngIf="complexForm.controls['code'].hasError('required') && complexForm.controls['code'].touched" 
              class="alert alert-danger">
                Falta el codigo del producto.
              </div>
              <div *ngIf="complexForm.controls['code'].hasError('minlength') && complexForm.controls['code'].touched" 
              class="alert alert-danger">
                El codigo debe se de al menos 5 digitos.
              </div>
        </td>

        <!-- form fields color -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['color'].valid && complexForm.controls['color'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="color" 
              class="form-control" 
              placeholder="Color" [formControl]="complexForm.controls['color']">
        </td>
        <!-- form fields brand -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['brand'].valid && complexForm.controls['brand'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="brand" 
              class="form-control" 
              placeholder="Marca" [formControl]="complexForm.controls['brand']">
        </td>
        <!-- form fields provider -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['provider'].valid && complexForm.controls['provider'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="provider" 
              class="form-control" 
              placeholder="Nombre del Proveedor" [formControl]="complexForm.controls['provider']">
        </td>
        <div *ngIf="complexForm.controls['provider'].hasError('required') && complexForm.controls['provider'].touched" 
              class="alert alert-danger">
                Falta el nombre del proveedor.
        </div>
        <!-- form fields model -->
        <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['model'].valid && complexForm.controls['model'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="model" 
              class="form-control" 
              placeholder="Modelo" [formControl]="complexForm.controls['model']">
        </td>
        <!-- category -->
        <td class="text-center">
          <select 
            [hidden]="!adding" 
            name="sectionOptions" 
            class="form-control" 
             [formControl]="complexForm.controls['category']">
              <option value="" disabled currentIndex hidden>
                Categoria
              </option>
              <option *ngFor="let category of allCategories | async" [ngValue]="category">
                {{category.name}}
              </option>
          </select> 
        </td>
      </tr>
    </tbody>
  </table>
</form>

