<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3>Create a new product!</h3>
      <product-form [hidden]="!user"></product-form>
      <div [hidden]="user">You need to login to create new products!</div>
    </div>
  </div>
</div>

<div class="row ma-filters">
  <div class="col-md-6">
    <h3>All Products:</h3>
    <form class="form-inline">
      <input type="text" class="form-control" #searchtext placeholder="Search by Name">
      <button type="button" class="btn btn-primary" (click)="search(searchtext.value)">Search
      <button>

      Sort by name: <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
      <option value="1" selected>Ascending</option>
      <option value="-1">Descending</option>
    </select>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
      </li>

      <li *ngFor="let product of products | async" class="list-group-item ma-party-item">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="ma-party-name">
              <a [routerLink]="['/product', product._id]">{{product.name}}</a>
            </h2>
            @ {{product.category.name}}
            <p class="ma-party-description">
              {{product.description}}
            </p>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-danger pull-right" [hidden]="!isAdmin()" (click)="remove(product)"> 
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
      </li>

    </ul>
  </div>
</div>