<h3 class="col-12 text-center">Tabla de Articulos</h3>
<div class="row">
  <table class="table table-bordered table-hover table-striped ">
    <!-- headers for sorting -->
    <thead class="thead-default"> 
      <tr>
        <th class="text-center">Modificar</th>
        <th  class="text-center" *ngFor="let header of headers; let colIndex = index; ">
          {{header.key}}
          <button 
            [hidden]="idx !== colIndex || direction !== 'up'" 
            type="button" 
            class="btn btn-default" 
            (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
            <span class="fa fa-chevron-up" aria-hidden="true"></span>
          </button>
          <button 
              [hidden]="idx !== colIndex || direction !== 'down'" 
              type="button" 
              class="btn btn-default"  
              (click)="idx = colIndex; direction = 'up';changeSortOrder(1, header.value)">
              <span class="fa fa-chevron-down" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="direction && idx === colIndex " 
            type="button" 
            class="btn btn-default"   
            (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
            <span class="fa fa-sort" aria-hidden="true"></span>
          </button>        
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <ng-container *ngFor="let header of headers; let colIndex = index; ">
          <td class="text-center">
            <input 
              type="text" 
              class="col-9" 
              name=filter-{{header.key}}
              placeholder={{header.key}}
              #tmp
              (keyup.enter)="search(header.value, tmp.value)"
              (blur)="search(header.value, tmp.value)">
          </td>
        </ng-container> 
      </tr>
      <tr *ngFor="let product of products | async; let rowIndex=index; ">
        <!-- action buttons for main form -->
        <td>
          <button 
            [hidden]="currentIndex === rowIndex && editing"
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=true;editedProduct=copy(product)">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
            type="button" 
            class="btn btn-default" 
            data-toggle="modal" data-target="#exampleModal"
            (click)="currentIndex=rowIndex; editing=false; update(editedProduct)">
            <span class="fa fa-check-square-o" aria-hidden="true"></span>
          </button>
          <button 
            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
            type="button" 
            class="btn btn-default" 
            (click)="currentIndex=rowIndex; editing=false;">
            <span class="fa fa-ban" aria-hidden="true"></span>
          </button>
        </td>

        <!-- name field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{product.name}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="name-{{rowIndex}}" 
            class="form-control"
            auto-complete
            [source]="sources['name']"
            [(ngModel)]="editedProduct.name">
        </td>
        
        <!-- code field -->
        <!-- display mode-->
        <td 
          class="text-center">
          <a>{{product.code}}</a>
        </td>

        <!-- color field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{product.color}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="color-{{rowIndex}}" 
            class="form-control"
            auto-complete
            [source]="sources['color']" 
            [(ngModel)]="editedProduct.color">
        </td>
        
        <!-- brand field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{product.brand}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="brand-{{rowIndex}}" 
            class="form-control"
            auto-complete
            [source]="sources['brand']" 
            [(ngModel)]="editedProduct.brand">
        </td>

        <!-- provider field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{product.provider}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="provider-{{rowIndex}}" 
            class="form-control"
            auto-complete
            [source]="sources['provider']" 
            [(ngModel)]="editedProduct.provider">
        </td>

        <!-- model field -->
        <!-- display mode-->
        <td 
          [hidden]="currentIndex === rowIndex && editing"
          class="text-center">
          <a>{{product.model}}</a>
        </td>
        <!-- editing mode-->
        <td 
          [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
          class="text-center">
          <input 
            type="text" 
            name="model-{{rowIndex}}" 
            class="form-control"
            auto-complete
            [source]="sources['model']" 
            [(ngModel)]="editedProduct.model">
        </td>

        <!-- categories field-->
        <ng-container *ngFor="let category of categories | async"> 
          <ng-container *ngIf="product.categoryId === category._id">
            <!-- display mode fields -->
            <td 
              [hidden]="currentIndex === rowIndex && editing"
              class="text-center">
              <a [routerLink]="['/categories', category._id]">{{category.name}}</a>
            </td>
            <!-- editing mode fields -->
            <td 
                [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)">
              <select 
                name="selectCategory-{{rowIndex}}" class="form-control" required  
                [(ngModel)]="editedProduct.categoryId">
                <option value=undefined disabled currentIndex hidden>Categoria</option>
                <option *ngFor="let category of categories | async" 
                [ngValue]="category._id">{{category.name}}</option>
              </select> 
            </td>
          </ng-container>
        </ng-container>
      </tr>
     
<!--       <tr> 
 -->        <!-- fields sizes -->
       <!--  <td 
          class="text-center"
          [hidden]="currentIndex === rowIndex && editing">
          <div>
            <h4> Talles:</h4>

            <div class=" ml-4 mt-4">
              <multi-dropdown 
                [options]= "selectorSizesData"
                [texts]="commonTexts" 
                [settings]="multiSettingsWithoutChecks" 
                [(ngModel)]="sizesSelector"
                formControlName="sizesSelector"
                class="form-control">
              </multi-dropdown>
            </div>
          </div>
        </td> -->
        <!-- selector sizes Numerico --> 
       <!--  <td 
          class="text-center"
          [hidden]="currentIndex === rowIndex && editing">
          <div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" 
                  class="form-check-input form-control" 
                  value="numeric" 
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="sizesType" 
                  (ngModelChange)="adding && setSizes('numeric',numericStartSelected,numericEndSelected)"
                  >
                Numerico
              </label>
            </div>

            <div class=" ml-4 mt-4">
            Desde
              <multi-dropdown 
                [options]="numericSizesData"
                [texts]="commonTexts" 
                [settings]="singleSettings" 
                [(ngModel)]="numericStartSelected"
                [ngModelOptions]="{standalone: true}"
                [disabled]="sizesType == 'letters' || sizesType == 'unique'"
                (ngModelChange)="adding && setSizes('numeric',numericStartSelected,numericEndSelected)"
                >
              </multi-dropdown>
            </div>
            <div class=" ml-4 mt-4">
            Hasta
              <multi-dropdown 
                [options]="numericSizesData"
                [texts]="commonTexts" 
                [settings]="singleSettings" 
                [(ngModel)]="numericEndSelected"
                [ngModelOptions]="{standalone: true}"
                [disabled]="sizesType == 'letters' || sizesType == 'unique'"
                (ngModelChange)="adding && setSizes('numeric',numericStartSelected,numericEndSelected)"
                >
              </multi-dropdown>
            </div>
          </div>
        </td> -->
        <!-- selector sizes letras --> 
      <!--   <td 
          class="text-center"
          [hidden]="currentIndex === rowIndex && editing"
        >
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" 
                class="form-check-input form-control"
                value="letters"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="sizesType"
                (ngModelChange)="adding && setSizes('letters',lettersStartSelected,lettersEndSelected)"
                >
              Letras
            </label>
          </div>

          <div class=" ml-4 mt-4">
            Desde
            <multi-dropdown 
              [options]="lettersSizesData"
              [texts]="commonTexts" 
              [settings]="singleSettings" 
              [(ngModel)]="lettersStartSelected"
              [ngModelOptions]="{standalone: true}"
              [disabled]="sizesType == 'numeric' || sizesType == 'unique'"
              (ngModelChange)="adding && setSizes('letters',lettersStartSelected,lettersEndSelected)"
              >
            </multi-dropdown>
          </div>
          <div class=" ml-4 mt-4">
            Hasta
            <multi-dropdown 
              [options]="lettersSizesData"
              [texts]="commonTexts" 
              [settings]="singleSettings" 
              [(ngModel)]="lettersEndSelected"
              [ngModelOptions]="{standalone: true}"
              [disabled]="sizesType == 'numeric' || sizesType == 'unique'"
              (ngModelChange)="adding && setSizes('letters',lettersStartSelected,lettersEndSelected)"
              >
            </multi-dropdown>
          </div>
        </td> -->
        <!-- selector sizes unique --> 
    <!--     <td  
          class="text-center"
          [hidden]="currentIndex === rowIndex && editing"
        >
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" 
                class="form-check-input form-control" 
                value="unique"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="sizesType"
                (ngModelChange)="adding && setSizes('unique','','')"
                >
              Unico
            </label>
          </div> 
        </td> -->
        
        <!-- field cost -->
        <!-- <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['cost'].valid && complexForm.controls['cost'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="cost" 
              class="form-control" 
              placeholder="Precio de Costo"
              (ngModelChange)="populatePrices($event)"
               [formControl]="complexForm.controls['cost']">
            <div *ngIf="complexForm.controls['cost'].hasError('required') && complexForm.controls['cost'].touched" class="alert alert-danger">
              Precio de Costo
            </div>
            <div *ngIf="complexForm.controls['cost'].hasError('invalidNumber') && complexForm.controls['cost'].touched" class="alert alert-danger">
              El valor debe ser numerico.
            </div>
        </td> -->
         <!-- field cashPayment -->
      <!--   <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['cashPayment'].valid && complexForm.controls['cashPayment'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="cashPayment"
              [(ngModel)]="cashPayment" 
              class="form-control" 
              placeholder="Precio efectivo" [formControl]="complexForm.controls['cashPayment']">
            <div *ngIf="complexForm.controls['cashPayment'].hasError('required') && complexForm.controls['cashPayment'].touched" class="alert alert-danger">
              Precio de Contado
            </div>
            <div *ngIf="complexForm.controls['cashPayment'].hasError('invalidNumber') && complexForm.controls['cashPayment'].touched" class="alert alert-danger">
              El valor debe ser numerico.
            </div>
        </td> -->
        <!-- field cardPayment -->
      <!--   <td class="text-center" 
            [ngClass]="{'has-error':!complexForm.controls['cardPayment'].valid && complexForm.controls['cardPayment'].touched}">
            <input 
              [hidden]="!adding" 
              type="text" 
              name="cardPayment" 
              [(ngModel)]="cardPayment" 
              class="form-control" 
              placeholder="Precio de Lista" [formControl]="complexForm.controls['cardPayment']">
            <div *ngIf="complexForm.controls['cardPayment'].hasError('required') && complexForm.controls['cardPayment'].touched" class="alert alert-danger">
              Precio de Lista
            </div>
            <div *ngIf="complexForm.controls['cardPayment'].hasError('invalidNumber') && complexForm.controls['cardPayment'].touched" class="alert alert-danger">
              El valor debe ser numerico.
            </div>
        </td>

      </tr> -->

    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel-warning">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Actualizando un producto</h4>
      </div>
      <div class="modal-body">
        Al cambiar un valor del articulo no se puede regenerar el codigo asociado si hay stock cargado, por lo tanto se cambia el valor de esa propiedad para todos los articulos que coincidan
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row-fluid">
  <!-- submission form -->
  <product-form></product-form>
</div>

<div class="card align-items-center">
  <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>

