<div>
  <div class="row">
    <h3 class="col-12 text-center">Stock y precios</h3>

    <!-- form header filtering components-->
    <div  class="form-inline">
      <div class=" ml-4 mt-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" checked class="form-check-input" (click)="doShowSizes(!showSizes)" >
            Mostrar talles
          </label>
        </div>
      </div>

      <div class=" ml-4 mt-4">
        <select 
          name="selectCategory" 
          class="form-control" 
          [(ngModel)]="selectedCategory"
          (ngModelChange)="search('categoryId', selectedCategory)"
          >
          <option value="" selected >Filtrar por Categoria</option>
          <option *ngFor="let category of allCategories | async" 
          [ngValue]="category._id"
         >{{category.name}}</option>
        </select> 
      </div>

      <div class=" ml-4 mt-4">
        <select 
          name="selectedSection" 
          class="form-control"  
          [(ngModel)]="selectedSection"
          (ngModelChange)="search('sectionId', selectedSection)"
          >
          <option value="" selected>Filtrar por Seccion</option>
          <option *ngFor="let section of allSections | async" 
          [ngValue]="section._id"
          >{{section.name}}</option>
        </select> 
      </div>

      <div class=" ml-4 mt-4">
        <input 
          type="text" 
          name="barCodeLookup" 
          class="form-control" 
          [(ngModel)]="selectedCode"
          (ngModelChange)="search('barCode', selectedCode)"
          placeholder="Buscar por Codigo">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
    </div>
  </div>
  
  <div class="row">
    <!-- stock content -->
    <table class="table table-bordered table-hover ">
      <thead class="thead-default">
        <tr>
          <!-- headers for sorting -->
          <th class="text-center">#</th>
          <th  class="text-center" *ngFor="let header of headers; let colIndex = index; ">
            {{header.key}}
           <!--  <button 
              [hidden]="idx !== colIndex || direction !== 'up'" 
              type="button" 
              class="btn btn-default" 
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
              <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </button>
            <button 
                [hidden]="idx !== colIndex || direction !== 'down'" 
                type="button" 
                class="btn btn-default"  
                (click)="idx = colIndex; direction = 'up';changeSortOrder(1, header.value)">
                <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="direction && idx === colIndex " 
              type="button" 
              class="btn btn-default"   
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, header.value)">
              <span class="fa fa-sort" aria-hidden="true"></span>
            </button>         -->
          </th> 

          <th class="text-center" *ngFor="let store of stores | async; let colIndex = index; ">
            Stock en {{store.name}}
           <!--  <<!-- button 
              [hidden]="idx !== colIndex || direction !== 'up'" 
              type="button" 
              class="btn btn-default" 
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, store.name)">
              <span class="fa fa-chevron-up" aria-hidden="true"></span>
            </button>
            <button 
                [hidden]="idx !== colIndex || direction !== 'down'" 
                type="button" 
                class="btn btn-default"  
                (click)="idx = colIndex; direction = 'up';changeSortOrder(1, store.name)">
                <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="direction && idx === colIndex " 
              type="button" 
              class="btn btn-default"   
              (click)="idx = colIndex; direction = 'down';changeSortOrder(-1, store.name)">
              <span class="fa fa-sort" aria-hidden="true"></span>
            </button>-->
          </th> 
        </tr>
      </thead>
      <tbody>

        <!-- filter fields on table header -->
        <tr>
        <td class="text-center"></td>
          <ng-container *ngFor="let header of headers; let colIndex=index; ">
            <td class="text-center">
              <input 
                type="text" 
                class="col-12" 
                name=filter-{{header.key}}
                placeholder={{header.key}}
                #tmp
                (blur)="search(header.value, tmp.value)"
                (keyup.enter)="search(header.value, tmp.value);"
                >
            </td>
          </ng-container> 
        </tr> 
        

        <!-- 'barCode', 'name', 'color', 'size', 'quantity', 'provider', 'cost', 'cashPayment', 'cardPayment' -->
        <tr *ngFor="let productSize of productSizes | async; let rowIndex=index; ">
          <!-- size{{productSize._id}} -->
          <ng-container *ngFor="let product of products | async; "> 
            <ng-container *ngIf="product._id == productSize.productId ">
             <!-- prod{{product._id}} -->
              <ng-container *ngFor="let productPrice of productPrices | async; let priceIndex=index;  "> 
                <ng-container *ngIf="product._id == productPrice.productId ">
                  <!-- price{{productPrice._id}} -->
                  <ng-container *ngIf="priceIndex == 0 ">
                    <!-- action buttons for to edit stock fields -->
                    <td>
                      <button 
                        [hidden]="currentIndex === rowIndex && editing"
                        type="button" 
                        class="btn btn-default" 
                        (click)="currentIndex=rowIndex; editing=true;editedStock = copy(emptyStock)">
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                      </button>
                      <button 
                        [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
                        type="button" 
                        class="btn btn-default" 
                        (click)="currentIndex=rowIndex; editing=false; update(editedStock)">
                        <span class="fa fa-check-square-o" aria-hidden="true"></span>
                      </button>
                      <button 
                        [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
                        type="button" 
                        class="btn btn-default" 
                        (click)="currentIndex=rowIndex; editing=false; ">
                        <span class="fa fa-ban" aria-hidden="true"></span>
                      </button>
                    </td>

                    <td class="text-center">
                      <a [routerLink]="['/products', product.code]">{{productSize.barCode}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{product.name}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{product.color}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{productSize.size}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{product.provider}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{productPrice.lastCostPrice}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{productPrice.priceCash}}</a>
                    </td>

                    <td class="text-center">
                      <a>{{productPrice.priceCard}}</a>
                    </td>   
                  </ng-container> 

                  <ng-container *ngFor="let store of stores | async; let stockIndex=index; ">
                    <!-- <ng-container *ngIf="store._id == productPrice.storeId"> -->
                      <!-- store{{store._id}} -->
                      <ng-container *ngFor="let stock of stocks | async;  "> 
                        <ng-container *ngIf="  stock.storeId  ==  store._id">
                      <!-- stock{{stock._id}} -->
                          <!-- display mode-->
                          <td 
                            class="text-center"
                            [hidden]="currentIndex === rowIndex && editing">
                             <a>{{stock.quantity}}</a>
                          </td>
                          <!-- editing mode-->
                          <td 
                            [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
                            class="text-center">
                            <input 
                              type="text" 
                              name="quantity-{{stockIndex}}-{{storeIndex}}" 
                              class="form-control" 
                              [value]="stock.quantity" 
                              (input)="updateEditedStock(editedStock,stock._id,$event.target.value)">
                          </td>
                        </ng-container> 
<!--                       </ng-container>
 -->                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
<!-- <div class="row"><hr></div> -->
  <div class="row">
    <!-- submission form -->
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <table class="table table-hover">
        <tbody>
          <div ng-form="myForm">
            <tr>
              <!-- action buttons for submision form -->
              <td>
                <button 
                  [hidden]="adding" 
                  type="button" 
                  class="btn btn-default" 
                  (click)="adding=true">
                  <span class="fa fa-plus-square-o" aria-hidden="true"></span>
                </button>
                <button 
                  [hidden]="!adding" 
                  type="button" 
                  class="btn btn-default" 
                  (click)="adding=false;complexForm.reset()">
                  <span class="fa fa-minus-square-o" aria-hidden="true"></span>
                </button>
                <button 
                  [hidden]="!adding"
                  [disabled]="!complexForm.valid" 
                  type="button" 
                  class="btn btn-default" 
                  (click)="adding=false; save(complexForm)">
                  <span class="fa fa-check-square-o" aria-hidden="true"></span>
                </button>
              </td> 

              <!-- form fields barcode -->
              <td class="text-center" 
                [ngClass]="{'has-error':!complexForm.controls['barCode'].valid && complexForm.controls['barCode'].touched}">
                <input 
                  [hidden]="!adding" 
                  type="text" 
                  name="barCode" 
                  class="form-control" 
                  placeholder="Codigo de barras" [formControl]="complexForm.controls['barCode']">
                  <!-- The hasError method will tell us if an error exists -->
                  <div *ngIf="complexForm.controls['barCode'].hasError('required') && complexForm.controls['barCode'].touched" 
                  class="alert alert-danger">
                    Falto el codigo
                  </div>
                  <div *ngIf="complexForm.controls['barCode'].hasError('minlength') && complexForm.controls['barCode'].touched" class="alert alert-danger">
                    El codigo debe ser de 12 digitos.
                  </div>
              </td>

              <!-- form field name -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="name" 
                    class="form-control" 
                    placeholder="descripcion" [formControl]="complexForm.controls['name']">
                    <!-- The hasError method will tell us if an error exists -->
                    <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" 
                    class="alert alert-danger">
                      Falta la descripcion
                    </div>
                    <div *ngIf="complexForm.controls['name'].hasError('minlength') && complexForm.controls['name'].touched" class="alert alert-danger">
                      La descripcion debe tener al menos 5 caracteres
                    </div>
              </td>

              <!-- form fields color -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['color'].valid && complexForm.controls['color'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="color" 
                    class="form-control" 
                    placeholder="Color" [formControl]="complexForm.controls['color']">
                    <div *ngIf="complexForm.controls['color'].hasError('required') && complexForm.controls['color'].touched" class="alert alert-danger">
                      Color del articulo
                    </div>
              </td>

              <!-- form fields size -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['size'].valid && complexForm.controls['size'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="size" 
                    class="form-control" 
                    placeholder="Talle" [formControl]="complexForm.controls['size']">
                  <div *ngIf="complexForm.controls['size'].hasError('required') && complexForm.controls['size'].touched" class="alert alert-danger">
                    Precio de costo
                  </div>
              </td>

              <!-- form fields provider -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['provider'].valid && complexForm.controls['provider'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="provider" 
                    class="form-control" 
                    placeholder="Nombre del Proveedor" [formControl]="complexForm.controls['provider']">
                  <div *ngIf="complexForm.controls['provider'].hasError('required') && complexForm.controls['provider'].touched" class="alert alert-danger">
                    Nombre del proveedor
                  </div>
              </td>
            </tr>
            <tr>

              <!-- form fields cost -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['cost'].valid && complexForm.controls['cost'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="cost" 
                    class="form-control" 
                    placeholder="Costo al comprar" [formControl]="complexForm.controls['cost']">
                  <div *ngIf="complexForm.controls['cost'].hasError('required') && complexForm.controls['cost'].touched" class="alert alert-danger">
                    Precio de Costo
                  </div>
                  <div *ngIf="complexForm.controls['cost'].hasError('invalidNumber') && complexForm.controls['cost'].touched" class="alert alert-danger">
                    El valor debe ser numerico.
                  </div>
              </td>

               <!-- form fields cashPayment -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['cashPayment'].valid && complexForm.controls['cashPayment'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="cashPayment" 
                    class="form-control" 
                    placeholder="Precio efectivo" [formControl]="complexForm.controls['cashPayment']">
                  <div *ngIf="complexForm.controls['cashPayment'].hasError('required') && complexForm.controls['cashPayment'].touched" class="alert alert-danger">
                    Precio de Contado
                  </div>
                  <div *ngIf="complexForm.controls['cashPayment'].hasError('invalidNumber') && complexForm.controls['cashPayment'].touched" class="alert alert-danger">
                    El valor debe ser numerico.
                  </div>
              </td>

              <!-- form fields cardPayment -->
              <td class="text-center" 
                  [ngClass]="{'has-error':!complexForm.controls['cardPayment'].valid && complexForm.controls['cardPayment'].touched}">
                  <input 
                    [hidden]="!adding" 
                    type="text" 
                    name="cardPayment" 
                    class="form-control" 
                    placeholder="Precio de Lista" [formControl]="complexForm.controls['cardPayment']">
                  <div *ngIf="complexForm.controls['cardPayment'].hasError('required') && complexForm.controls['cardPayment'].touched" class="alert alert-danger">
                    Precio de Lista
                  </div>
                  <div *ngIf="complexForm.controls['cardPayment'].hasError('invalidNumber') && complexForm.controls['cardPayment'].touched" class="alert alert-danger">
                    El valor debe ser numerico.
                  </div>
              </td>

              <!-- form fields category -->
              <td class="text-center">
                <select 
                  [hidden]="!adding" 
                  name="categoryOptions" 
                  class="form-control" 
                   [formControl]="complexForm.controls['category']">
                    <option value="" disabled currentIndex hidden>
                      Categoria
                    </option>
                    <option *ngFor="let category of allCategories | async" [ngValue]="category">
                      {{category.name}}
                    </option>
                </select>
                <div *ngIf="complexForm.controls['category'].hasError('required') && complexForm.controls['category'].touched" class="alert alert-danger">
                  Seleccione una Categoria
                </div>
              </td>

              <!-- form fields section -->
              <td class="text-center">
                <select 
                  [hidden]="!adding" 
                  name="sectionOptions" 
                  class="form-control" 
                   [formControl]="complexForm.controls['section']">
                    <option value="" disabled currentIndex hidden>
                      Seccion
                    </option>
                    <option *ngFor="let section of allSections | async" [ngValue]="section">
                      {{section.name}}
                    </option>
                </select>
                <div *ngIf="complexForm.controls['section'].hasError('required') && complexForm.controls['section'].touched" class="alert alert-danger">
                  Seleccione una Seccion
                </div>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </form>
  </div>
  <div class="row">
    <div class="col span2">
      <a class="btn btn-block btn-info" routerLink="/stock/create" routerLinkActive="active">Cargar stock</a>
    </div>
  </div>

</div>