<div>
  <div class="row">
    <h3 class="col-12 text-center">Stock y precios</h3>

    <!-- form header filtering components-->
    <div  class="form-inline">
      <div class=" ml-4 mt-4">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" checked class="form-check-input" (click)="doShowSizes(!showSizes)" >
            Mostrar talles
          </label>
        </div>
      </div>

      <div class=" ml-4 mt-4">
        <select 
          name="selectCategory" 
          class="form-control" 
          [(ngModel)]="selectedCategory"
          (ngModelChange)="search('categoryId', selectedCategory)"
          >
          <option value=undefined selected >Categoria</option>
          <option *ngFor="let category of allCategories | async" 
          [ngValue]="category._id"
         >{{category.name}}</option>
        </select> 
      </div>

      <div class=" ml-4 mt-4">
        <select 
          name="selectedSection" 
          class="form-control"  
          [(ngModel)]="selectedSection"
          (ngModelChange)="search('sectionId', selectedSection)"
          >
          <option value=undefined selected>Seccion</option>
          <option *ngFor="let sectionTag of allSections | async" 
          [ngValue]="sectionTag.code"
          >{{sectionTag.description}}</option>
        </select> 
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <pagination-controls 
        (pageChange)="onPageChanged($event)"
        
        >
      </pagination-controls>
    </div>
  </div>
  
  <div class="row">
    <!-- stock content -->
    <table class="table table-bordered table-hover ">
      <thead class="thead-default">
        <tr>
          <!-- headers for sorting -->
          <th class="text-center">#</th>
          <th  class="text-center" *ngFor="let header of headers; let colIndex = index; ">
            {{header.key}}
          </th> 

          <th class="text-center" *ngFor="let store of allStores | async; let colIndex = index; ">
            Stock en {{store.name}}
          </th> 
        </tr>
      </thead>
      <tbody>

        <!-- filter fields on table header -->
        <tr>
          <td class="text-center"></td>
          <ng-container *ngFor="let header of headers; let colIndex=index; ">
            <td class="text-center">
              <input 
                type="text" 
                class="col-12" 
                name=filter-{{header.key}}
                placeholder={{header.key}}
                #tmp
                (blur)="search(header.value, tmp.value)"
                (keyup.enter)="search(header.value, tmp.value);"
                >
            </td>
          </ng-container> 
        </tr> 
        
        <!-- 'barCode', 'name', 'color', 'size', 'quantity', 'provider', 'cost', 'cashPayment', 'cardPayment' -->
        <tr *ngFor="let productSize of productSizes | async; let rowIndex = index; ">
          <td>
            <button 
              [hidden]="currentIndex === rowIndex && editing"
              type="button" 
              class="btn btn-default" 
              (click)="currentIndex=rowIndex; editing=true;editedStock = copy(emptyStock)">
              <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)"
              type="button" 
              class="btn btn-default" 
              (click)="currentIndex=rowIndex; editing=false; update(editedStock)">
              <span class="fa fa-check-square-o" aria-hidden="true"></span>
            </button>
            <button 
              [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" 
              type="button" 
              class="btn btn-default" 
              (click)="currentIndex=rowIndex; editing=false; ">
              <span class="fa fa-ban" aria-hidden="true"></span>
            </button>
          </td>

          <td class="text-center">
            <a>{{productSize.barCode}}</a>
          </td>
          <td class="text-center">
            <a>{{getProduct(productSize.productId)?.name}}</a>
          </td>
          <td class="text-center">
            <a>{{getProduct(productSize.productId)?.color}}</a>
          </td>
          <td class="text-center">
            <a>{{productSize.size}}</a>
          </td>
          <td class="text-center">
            <a>{{getProduct(productSize.productId)?.provider}}</a>
          </td>
          <td class="text-center">
            <a>{{getProduct(productSize.productId)?.model}}</a>
          </td>
          <td class="text-center">
            <a>{{getPrice(productSize.productId)?.cost | currency:'USD':true:'1.2-2'}}</a>
          </td>
          <td class="text-center">
            <a>{{getPrice(productSize.productId)?.priceCash | currency:'USD':true:'1.2-2'}}</a>
          </td>
          <td class="text-center">
            <a>{{getPrice(productSize.productId)?.priceCard | currency:'USD':true:'1.2-2'}}</a>
          </td>
          <ng-container *ngFor="let store of allStores | async; let storeIndex = index; ">
            <td class="text-center"
              [hidden]="currentIndex === rowIndex && editing" >
              <a>{{getStock(productSize._id,store._id)?.quantity || 0}}</a>
            </td>
            <td class="text-center"
              [hidden]="currentIndex !== rowIndex || (currentIndex === rowIndex && !editing)" >
              <input 
                type="text" 
                name="quantity-{{stockIndex}}-{{storeIndex}}" 
                class="form-control" 
                [value]="getStock(productSize._id,store._id)?.quantity || 0" 
                (input)="updateEditedStock(editedStock,productSize._id,store._id,$event.target.value)">
            </td>
           </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <pagination-controls 
        (pageChange)="onPageChanged($event)"
        [hidden]="collectionCount < PAGESIZE" 
        >
      </pagination-controls>
    </div>
  </div>

  <div class="row">
    <!-- submission form -->
    <stock-form></stock-form>
  </div>

</div>