<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleCollapse()"
        aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col">
      <a class="navbar-brand" href="#">Control App</a>
    </div>
    <div class="col mt-2 mr-5" *ngIf="isLoggedin()" >
      <h6 class="text-right">
        SE ENCUENTRA EN {{getCurrentStoreName()}} COMO {{currentUser?.username}}
      </h6> 
    </div>
     <div class="col-4 mt-2 mr-5" *ngIf="isLoggedin()" >
      <h6 class="text-right">
        <ng-container *ngIf="getCurrentBalanceNumber() == -1 ||
        getCurrentBalanceStatus() == ''">
        NECESITA CREAR UN BALANCE PARA CONTINUAR
        </ng-container>
        <ng-container *ngIf="getCurrentBalanceNumber() > -1">
        EL BALANCE Nº {{getCurrentBalanceNumber()}} ESTA 
          <ng-container *ngIf="!getCurrentBalanceStatus() || getCurrentBalanceStatus() == 'CLOSED'">
            CERRADO
          </ng-container>
           <ng-container *ngIf="getCurrentBalanceStatus() && getCurrentBalanceStatus() == 'OPEN'">
            ABIERTO
          </ng-container>
        </ng-container>
      </h6> 
    </div>
  </div>
  <div class="navbar-collapse" id="navbar-collapse" [class.collapse]="isCollapsed">
    <ul class="nav navbar-nav mr-auto nav-pills">
      
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['balances']">Balances</a>
      </li>
      
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['sales']">Ventas</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['purchases']">Compras</a>
      </li>
      
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['stock']">Stock</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['products']">Articulos</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link disabled" [routerLink]="['transactions']">Registros</a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configuracion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['tags']">Etiquetas</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['categories']">Categorias</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['users']">Usuarios</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['stores']">Sucursales</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" [hidden]="currentUser">
        <a class="form-control mr-sm-2"  [routerLink]="['/login']" >Ingresar
        <!-- <a class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/signup']">Sign up</a> -->
    </form>
    <form class="form-inline my-2 my-lg-0" [hidden]="!currentUser">
        <span>{{ user | displayName }}</span>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="logout()">Salir</button>
    </form>

  </div>
  
</nav>

