<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" (click)="toggleCollapse()"
        aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col">
      <a class="navbar-brand" href="#">Control App</a>
    </div>
    <div class="col mt-2" *ngIf="isLoggedin()" >
      <h6 class="text-right">Logeado en {{getCurrentStore()}} como {{getCurrentUser()}}</h6> 
    </div>
  </div>
  <div class="navbar-collapse" id="navbar-collapse" [class.collapse]="isCollapsed">
    <ul class="nav navbar-nav mr-auto nav-pills">
      
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['orders']">Ventas</a>
      </li>
      
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['stock']">Stock</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['products']">Productos</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['categories']">Categorias</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['sections']">Secciones</a>
      </li>
            
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link disabled" [routerLink]="['transactions']">Registros</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a  class="nav-link" [routerLink]="['parties']">Test</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0" [hidden]="user">
        <a class="form-control mr-sm-2"  [routerLink]="['/login']" >Login</a>
        <a class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/signup']">Sign up</a>
    </form>
    <form class="form-inline my-2 my-lg-0" [hidden]="!user">
        <span>{{ user | displayName }}</span>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="logout()">Salir</button>
    </form>

  </div>

 <!--  <script type="text/javascript">
    $(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
  </script> -->
</nav>

