<div>
  <h2 class="text-center">Balances</h2>

<div  class="form-inline">
  
  <!-- <multi-dropdown 
    [options]="myOptions" 
    [texts]="myTexts" 
    [settings]="mySettings" 
    [(ngModel)]="optionsModel">
  </multi-dropdown>

 -->
  <!-- <fieldset class="form-group"> 
      <legend>Agrupar por:</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked (click)="doShowOperation(false)">
          Facturacion
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" (click)="doShowOperation(true)">
          Operaciones
        </label>
      </div>
  </fieldset> -->


  <div class=" ml-4 mt-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (click)="filterBy('year')" >
        Año
      </label>
    </div>
  </div>
  <div class=" ml-4 mt-4">
    <multi-dropdown 
      [options]= "[{ id: 1, name: '2017' },{ id: 2, name: '2018' }]"
      [texts]="commonTexts" 
      [settings]="singleSettings" 
      [(ngModel)]="yearSelected">
    </multi-dropdown>
  </div>

  <div class=" ml-4 mt-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (click)="filterBy('month')" >
        Mes
      </label>
    </div>
  </div>
  <div class=" ml-4 mt-4">
    <multi-dropdown 
      [options]= "monthsData"
      [texts]="commonTexts" 
      [settings]="singleSettings" 
      [(ngModel)]="monthSelected">
    </multi-dropdown>
  </div>

  <div class=" ml-4 mt-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" (click)="filterBy('day')" >
        Dia
      </label>
    </div>
  </div>
  <div class=" ml-4 mt-4">
    <multi-dropdown 
      [options]= "daysData"
      [texts]="commonTexts" 
      [settings]="multiSettings" 
      [(ngModel)]="daysSelected">
    </multi-dropdown>
  </div>

  <div class=" ml-4 mt-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" checked class="form-check-input" (click)="filterBy('workshift')" >
        Turno
      </label>
    </div>
  </div>
  <div class=" ml-4 mt-4">
    <multi-dropdown 
      [options]= "[{ id: 1, name: 'mañana' },{ id: 2, name: 'tarde' }]"
      [texts]="commonTexts" 
      [settings]="multiSettings" 
      [(ngModel)]="workShiftSelected">
    </multi-dropdown>
  </div>

  <div class=" ml-4 mt-4">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" checked class="form-check-input" (click)="filterBy('store')" >
        Sucursal
      </label>
    </div>
  </div>
  <div class=" ml-4 mt-4">
    <multi-dropdown 
      [options]="storesData"
      [texts]="commonTexts" 
      [settings]="multiSettings" 
      [(ngModel)]="storesSelected">
    </multi-dropdown>
  </div>

</div>


  <div><hr></div>

 

</div>